<div>
  <div class="post-container p-3 mx-auto w-50 form-box my-5 rounded-md">
    <h2 style="color: #181642" class="text-center mb-3">Update Post</h2>
    <% if (postData !== null) { %>
    <form
      action="/api/post/update/<%= postData.id %>/<%=userId%>"
      method="post"
      class="p-2"
      enctype="multipart/form-data"
    >
      <% if (postData.mediaType.startsWith('image')) { %>
        <img
          id="previewImage"
          src="<%= postData.mediaContent %>"
          alt="post"
          height="400"
          width="400"
          class="mb-3"
        />
      <% } %>

      <% if (postData.mediaType.startsWith('video')) { %>
        <video id="previewVideo" width="400" class="mb-3" controls>
          <source id="videoSource" src="<%= postData.mediaContent %>" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      <% } %>

      <div class="mb-3">
        <label for="post-image" class="form-label">Upload New File (Image/Video)</label>
        <input
          type="file"
          class="form-control"
          id="post-image"
          name="mediaContent"
          accept="image/*, video/*"
          onchange="previewFile()"
        />
      </div>

      <div class="mb-3 input-group">
        <input
          type="text"
          name="caption"
          class="form-control"
          placeholder="Edit post content"
          value="<%= postData.caption %>"
          required
        />
      </div>

      <div class="d-flex">
        <a href="/api/post/posts">
          <button type="button" class="btn btn-md btn-primary mb-3 mt-2 me-2">
            Cancel
          </button>
        </a>
        <button type="submit" class="btn btn-md btn-success mb-3 mt-2">
          Update
        </button>
      </div>
    </form>
    <% } %>
  </div>
</div>

<script>
  function previewFile() {
    const file = document.getElementById("post-image").files[0];
    const imagePreview = document.getElementById("previewImage");
    const videoPreview = document.getElementById("previewVideo");
    const videoSource = document.getElementById("videoSource");

    imagePreview.classList.add("d-none");

    if (file && file.type.startsWith("image/")) {
      const reader = new FileReader();
      reader.onload = function () {
        imagePreview.src = reader.result;
        imagePreview.classList.remove("d-none");
      };
      reader.readAsDataURL(file);
    }

    if (file && file.type.startsWith("video/")) {
      const videoURL = URL.createObjectURL(file);
      videoSource.src = videoURL;
      videoPreview.classList.remove("d-none");
      videoPreview.load();
    }
  }
</script>
